.cards-section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    background-color:gray;
    justify-content: space-around;
}

.card{
    width: 20%;
    padding:10px;
    margin:20px;
    background-color:cornsilk;
    position: relative;
    
}


.card  img{
    width:100%;
}

.content{
    display:flex;
    flex-direction: column;
}

.content h3{
    flex-grow: 1;
}
